<!-- Sample Tomcat context.xml which configures Tomcat's session manager to persist to Redis -->
<Context>
  <Valve className="com.gopivotal.manager.SessionFlushValve" />
  <Manager className="org.apache.catalina.session.PersistentManager">
    <!-- See https://github.com/CodeBloom/session-managers#configuration for more options -->
    <Store className="com.gopivotal.manager.redis.RedisStore" uri="redis://username:password@localhost:6379/0" />
  </Manager>
</Context>
